
.body_education{
    width: 1000px;
    margin: 10px 0;
}

.title_education {
    display: flex;
    background: #40513B;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
}
.title_education:before{
    content: "+";
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
    width: 20px;
    text-align: center;
}

.accordion_education[open] .title_education:before{
    content: "-";
}

.text_education {
    display: flex;
    flex-direction: column;
    height: 150px;
    background-color: #EDF1D6;
    border-radius: 5px;
}

.medio_education, .technician_education {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
}