
.header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #40513B;
}

.title_header{
    flex-direction:row;
    font-size: 20px;
    color: #EDF1D6;
    font-weight: bold;
    margin-top: 15px;
}
.img_header {
    width: 64px;
    height: 64px;
    color: #EDF1D6;
    margin-right: 20px ;
    
}

