
.header {
    display: flex;
    min-width: 500px;
    max-width: 100vw;
    background-color: #40513B;
}

.title_header{
    flex-direction:row;
    font-size: 20px;
    color: #EDF1D6;
    font-weight: bold;
}
.img_header {
    width: 64px;
    height: 64px;
    color: #EDF1D6;
}

